* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --pc: #da0f10;
  --sc: #ddedf9;

  --sub-font: "Kaushan Script";

  --bg-1: #f1f1f1;
  --bg-2: #002a21;
  --bg-3: #021c1e;
  --bg-4: #0f171b;

  --rad-1: 8px;
  --rad-2: 4px;
  --rad-0: 50%;

  --fw-3: 500;
  --fw-2: 600;
  --fw-1: 700;

  --fs-1: 18px;
  --fs-2: 16px;
  --fs-3: 14px;

  --shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  --shadow-sm: 0px 0px 4px rgba(0, 0, 0, 0.1);
  --shadow-lg: -2px 8px 30px -6px rgba(0, 0, 0, 0.1);

  --bd-color: rgba(223, 223, 223, 1);
  --bd-color-2: rgba(0, 0, 0, 0.1);

  scroll-behavior: smooth;
}

/* # General
  =================================================*/
a {
  transition: all 0.5s;
  text-decoration: none;
}

a:hover {
  color: var(--pc);
}

p {
  line-height: 1.8;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.separator {
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  color: #000 !important;
}

h1,
.h1 {
  font-size: clamp(1.5625rem, 0.6696rem + 2.381vw, 2.8125rem) !important;
}

h2,
.h2 {
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem) !important;
}

h3,
.h3 {
  font-size: clamp(1.3rem, calc(1.3rem + 0.6vw), 1.75rem) !important;
}

h4,
.h4 {
  font-size: clamp(1.275rem, calc(1.275rem + 0.3vw), 1.5rem) !important;
}

h5,
.h5 {
  font-size: 1.25rem !important;
}

h6,
.h6 {
  font-size: 1rem !important;
}

/* # Common Class
  =================================================*/

.bg-theme-sc {
  background: var(--sc);
}

.bg-gradient-2 {
  background-image: linear-gradient(to right, #da0f10 0%, #f05c5d 51%, #da0f10 100%) !important;
}

.bg-theme-gray {
  background: rgba(244, 244, 244, 1);
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control::placeholder {
  font-size: 13px;
}

.separator {
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem) !important;
  padding-top: 50px;
  padding-bottom: 30px;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.row-gap {
  row-gap: 30px;
}

[class*="grid"] {
  display: grid !important;
  align-items: center;
  gap: 20px;
}

@media (max-width: 600px) {
  [class*="grid"] {
      grid-template-columns: auto !important;
  }
}

.grid-30 {
  grid-template-columns: 30% auto;
}

.grid-40 {
  grid-template-columns: 40% auto;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.bg-theme {
  background: var(--pc) !important;
}

.gradient-theme {
  background: linear-gradient(90deg, #e20001 0%, #cb2e2e 100%);
}

.txt-theme {
  color: var(--pc) !important;
}

.form-control:disabled,
.form-control[readonly] {
  background: transparent !important;
}

@media (max-width: 600px) {
  .separator {
      padding-top: 40px;
      padding-bottom: 20px;
  }

  .pt-70 {
      padding-top: 40px !important;
  }

  .pb-70 {
      padding-bottom: 40px !important;
  }

  .mt-70 {
      margin-top: 40px !important;
  }
}

/* # Common Components
=================================================*/

/*+++++++++++ Breadcrums +++++++++++++*/
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
}

.breadcrumb .breadcrumb-item:not(:last-child):after {
  content: "";
  width: 6px;
  height: 10px;
  margin: 0 15px;
  background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8.75 4.75 5 1 1.25' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat;
  display: inline-block;
}

.breadcrumb .breadcrumb-item {
  font-size: 15px;
}

.breadcrumb .breadcrumb-item a {
  color: #000;
  font-weight: 500;
}

.breadcrumb .breadcrumb-item a:hover {
  color: var(--pc);
}

.breadcrumb .breadcrumb-item[aria-current="page"] {
  color: #666464;
}

/*+++++++++++ Page header and content +++++++++++++*/

.page-header {
  padding-block: 45px;
  background-size: cover;
  background-position-y: 80%;
  background-image: url(../images/pg-header-bg.svg);
  margin-bottom: 40px;
}

.page-header .rating {
  width: fit-content;
}

@media (max-width: 600px) {
  .page-header .h2 {
      font-size: 20px !important;
  }

  .page-header {
      padding-block: 30px;
      margin-bottom: 20px;
  }
}

.page-content {
  counter-reset: term definition;
}

.page-content .number {
  padding-left: 40px;
  position: relative;
}

.page-content .number:not(:first-child) {
  margin-top: 25px;
}

.flatpickr-calendar.open {
  z-index: 20;
}

.page-content .number::before {
  counter-increment: term;
  content: counter(term) ". ";
  position: absolute;
  left: 0;
}

/*+++++++++++ Accordion +++++++++++++*/
.hoho-accordion details {
  padding: 20px;
  border: 1px solid var(--bd-color);
  border-radius: var(--rad-2);
}

.hoho-accordion summary {
  color: #000;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  gap: 4px;
  transition: all 0.2s ease;
}

.hoho-accordion summary::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: auto;
  flex: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.hoho-accordion details[open] > summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--bd-color);
}

.hoho-accordion summary:focus-visible {
  outline: unset !important;
}

.hoho-accordion details[open] > summary::after {
  transform: rotate(88deg);
}

.hoho-accordion details:not(:last-child) {
  margin-bottom: 10px;
}

/*+++++++++++ Pagination +++++++++++++*/
.pagination {
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  position: relative;
  padding-left: 0;
  list-style: none;
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.pagination li a.page-link {
  color: #555;
  background: #eee;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0 10px;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0.4s;
  display: block;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
  color: #fff;
  background: var(--pc);
}

.pagination li a.page-link:before,
.pagination li a.page-link:after {
  content: "";
  background-color: var(--pc);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s ease-in 0s;
}

.pagination li a.page-link:after {
  transition: all 0.3s ease-in 0.2s;
}

.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:hover:after,
.pagination li.active a.page-link:after {
  opacity: 0;
  transform: scale(1);
}

@media only screen and (max-width: 480px) {
  .pagination {
      font-size: 0;
      display: inline-block;
  }

  .pagination li {
      display: inline-block;
      vertical-align: top;
      margin: 10px 0;
  }
}

/*+++++++++++ Hoho Button +++++++++++++*/
.hoho-btn {
  padding: 8px 20px;
  display: block;
  width: fit-content;
  color: #fff !important;
  border-radius: 25px;
  transition: all 0.35s;
  background: var(--pc);
  border-color: transparent;
}

.hoho-btn:hover {
  background: #a90001;
}

.hoho-tag-btn {
  padding: 5px 20px;
  border: 1px solid var(--sc) !important;
  color: #000;
  display: block;
  width: fit-content;
  border-radius: 540px;
  background: #fff;
}

.hoho-tag-btn:hover {
  background: var(--sc);
  color: #000;
}
/*+++++++++++ site card +++++++++++++*/

[class*="card"] {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

[class*="card"] :is(.img-placeholder, .img-placeholder a img) {
  border-radius: 12px;
}

.hoho-card,
.hoho-overlay-card {
  position: relative;
  height: 100%;
}

.hoho-card {
  --color: #000;
  --meta: #6d6d6d;
}

.hoho-overlay-card {
  --color: #fff;
  --meta: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.hoho-overlay-card .img-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 6%) 27%, rgb(0 0 0 / 91%) 90%);
  transition: all 0.3s ease-in-out;
}

.hoho-overlay-card :is(.img-placeholder, .img-placeholder a img) {
  height: 476px;
  width: 100%;
  object-fit: cover;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

@media (max-width: 768px) {
  .hoho-overlay-card :is(.img-placeholder, .img-placeholder a img) {
      height: 410px;
  }
}

.hoho-overlay-card:hover .img-placeholder {
  transition: all 0.5s;
  transform: scale(1.5);
}

.hoho-overlay-card .hoho-card-content {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}

[class*="card"] svg {
  fill: var(--meta);
}

.hoho-card-content > * {
  margin-bottom: 0 !important;
}

.hoho-meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

[class*="title"] {
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--color);
  font-weight: 700;
}

a[class*="title"]:hover {
  text-decoration: underline;
  color: var(--color);
}

.hoho-big-title {
  font-size: 22px;
}

.hoho-title {
  font-size: 18px;
}

.description {
  color: var(--meta);
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

[class*="hoho-cat"] {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.hoho-cat {
  background: #fff;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}

.hoho-meta,
.tour-details > *,
.hoho-meta > * {
  /* font-size: 14px; */
  color: var(--meta);
}

.hoho-title,
.hoho-sub-title {
  -webkit-line-clamp: 2;
}

.hoho-big-title {
  -webkit-line-clamp: 3;
}

/* index page slider start */
.slider-container {
  overflow: hidden;
  position: relative;
}
.month .slider-container {
  padding-top: 58px;
  margin-top: -74px;
}

.slider-container .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-container .card {
  margin-right: 9px;
  padding: 6px;
}

/* Style for the buttons */
.slider-container .prev,
.slider-container .next {
  color: white;
  padding: 3px 16px;
  cursor: pointer;
  z-index: 1;
  border: 1px solid #ccc;
  transition: all 0.1s;
}

.slider-container .prev svg path,
.slider-container .next svg path {
  stroke: var(--pc);
}

.slider-container .prev:hover,
.slider-container .next:hover {
  background-color: var(--pc);
}
.slider-container .prev:hover svg path,
.slider-container .next:hover svg path {
  stroke: #fff;
}

.slider-container .prev {
  left: 10px;
  border-radius: 20px 0 0 20px;
}

.slider-container .next {
  right: 10px;
  border-radius: 0 20px 20px 0;
}

.month .slider-btns {
  position: absolute;
  top: 0px;
  right: 6px;
  display: flex;
}

.review .slider-btns {
  display: flex;
  justify-content: center;
}
.review .slider {
  margin-bottom: 10px;
}

.hoho-con-popular-tour .slider-btns {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .slider-container .card {
      min-width: 50%;
      margin-right: 0px;
  }

  .month .slider-container {
      padding-top: 0px;
      margin-top: 0px;
  }
  .month .slider-btns {
      position: static;
  }

  .month .slider-container .slider {
      margin-bottom: 16px;
  }
}
/* index page slider end */

/*+++++++++++ Slider +++++++++++++*/

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  width: 21px;
  height: 15px;
  background-size: contain;
}

.swiper-button-prev:after {
  background: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.529 14.692c-.006-.761-.769-1.894-1.539-2.844-.991-1.224-2.17-2.29-3.522-3.1C2.457 8.14 1.23 7.56.247 7.568M8.417.297c.005.76-.74 1.905-1.495 2.867C5.95 4.403 4.787 5.488 3.45 6.32 2.447 6.942 1.23 7.542.247 7.55m0 .01 20.57-.271' stroke='%23E20001' stroke-width='2'/%3E%3C/svg%3E")
      no-repeat;
  background-size: contain;
}

.swiper-button-next:after {
  background: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.41.308c.005.761.768 1.894 1.538 2.844.991 1.224 2.171 2.29 3.522 3.1 1.012.607 2.24 1.188 3.222 1.18m-8.17 7.271c-.006-.76.74-1.905 1.494-2.867.972-1.239 2.135-2.324 3.473-3.155 1.002-.623 2.22-1.223 3.203-1.23m0-.01-20.57.271' stroke='%23E20001' stroke-width='2'/%3E%3C/svg%3E")
      no-repeat;
  background-size: contain;
}

/* Horizontall Scrollbar */
.hoho-scroller::-webkit-scrollbar {
  height: 1px;
}

.hoho-scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.hoho-scroller::-webkit-scrollbar-thumb {
  height: 1px;
  background: var(--pc);
}

.hoho-scroller::-webkit-scrollbar:vertical {
  display: none;
}

/* # Header
=================================================*/
header {
  background: #fff;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

header li a {
  color: #000;
}

:is(header, footer) li a:hover,
.mg-menu ul li .active {
  color: var(--pc);
}

.mg-menu ul li .active {
  font-weight: 600;
}

/* dropdown ______ start */
.dropdown::after,
.dropdown .dropdown::after,
.dropdown ul {
  transition: all 0.3s ease-in-out;
}

.dropdown ul {
  background: #fff;
  box-shadow: var(--shadow-sm);
}

.dropdown::after,
.dropdown .dropdown::after {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat;
}

/* mobile nav */
header nav ul {
  background: #fff;
}

header {
  position: relative;
  height: 80px;
}

header .container {
  position: relative;
}

header,
.menu-container,
header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  gap: 30px;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo img {
  width: 75%;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
}

:is(header, footer) ul li a {
  text-transform: capitalize;
}

.menu ul {
  gap: 30px;
}

/* dropdown ______ start */
.dropdown {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown::after,
.dropdown .dropdown::after {
  display: flex;
  content: "";
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 2px;
}

.dropdown ul {
  display: block;
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 35px;
  padding: 10px;
  z-index: 99;
  transform-origin: top;
  transform: scale(0);
  min-width: 100%;
}

.dropdown ul li {
  padding: 10px 15px;
}

.rightmenu .hoho-btn,
.leftmenu .hoho-btn {
  border-radius: 4px !important;
  padding: 5px 10px !important;
}

.rightmenu .hoho-btn > a {
  color: #fff;
}

.rightmenu .dropdown::after,
.dropdown .dropdown::after {
  filter: invert(1);
}

@media screen and (min-width: 1024px) {
  /* header desktop ___________ */

  .menu-toggle-btn,
  .mob-search-btn,
  .cancel-btn {
      display: none;
  }

  .top-bar {
      display: block;
  }

  .dropdown ul .dropdown ul {
      position: absolute;
      left: calc(100% + 20px);
      top: 10px;
  }

  header .dropdown:hover > ul {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  /* mobile navigation _____________ start */
  .menu-toggle-btn,
  .mob-search-btn,
  .cancel-btn {
      display: block;
  }

  .leftmenu {
      position: absolute;
  }

  header .leftmenu > ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0px;
      left: 0%;
      transition: all 0.2s;
      width: 300px;
      padding: 30px;
      z-index: 10;
      transform: translateX(-100%);
      display: block;
  }

  .show-ul {
      transform: translate(0%) !important;
      overflow-y: auto;
  }

  .back-drop {
      top: 0;
      bottom: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      opacity: 0.5;
      z-index: 2;
      background: #000;
  }

  .dropdown::after,
  .dropdown .dropdown::after {
      float: right;
  }

  .cancel-btn {
      position: fixed;
      right: 8%;
      top: 10px;
  }

  .dropdown {
      /* display: block; */
      position: relative;
  }

  header .leftmenu > ul > li {
      padding-top: 20px;
  }

  header ul li.showMenu > ul {
      display: block !important;
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .accoount a span {
      display: none !important;
  }

  .mg-logo {
      width: 142px;
  }

  .rightmenu .hoho-btn {
      display: none;
  }
}

.offcanvas-footer,
.offcanvas-header {
  background: #fff;
  position: sticky;
  padding: 15px;
  box-shadow: var(--shadow-sm);
  z-index: 100;
}

.offcanvas {
  position: fixed;
  background: #fff;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 400px;
  height: 100%;
  box-shadow: var(--shadow-sm);
  transition: transform 0.2s ease-in-out;
}

.show-canvas {
  right: 0%;
  transition: transform 0.2s ease-in-out;
  overflow-y: auto;
}

.offcanvas-body {
  padding: 20px;
}

.offcanvas-header {
  top: 0;
}

.offcanvas-footer {
  bottom: 0;
}

.justify-content-between {
  justify-content: space-between !important;
}

.cart {
  position: relative;
}

.cart a span {
  position: absolute;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
  color: #fff !important;
  border-radius: 50% !important;
  top: 5px;
  right: -30px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.cart-item-list {
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.store-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.store-item .image-store {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.store-item .list-store p {
  font-size: 14px;
  font-weight: 500;
  line-height: 0.9;
  white-space: nowrap;
}

.store-item .list-store .p-note {
  font-size: 11px;
  color: #828282;
  transform: translatex(-25%);
  margin-top: 5px;
}

.store-item .list-store .btn-list {
  border: 1px solid #edebeb;
  font-size: 14px;
  font-weight: 500;
}

.store-item .list-store .btn-list:active {
  border: 1px solid #757574;
}

.store-item .btn-quantity-container {
  border: 1px solid #edebeb;
  border-radius: 6px;
  height: 35px;
  gap: 0.5rem;
}

.store-item .btn-quantity-container .btn-quantity {
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.btn-quantity:focus {
  box-shadow: none !important;
}

.store-item .p-total-label {
  font-size: 14px;
  font-weight: 500;
}

.store-item .p-total {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.bottom-line:not(:last-child) {
  width: 100%;
  border-bottom: 1px solid #edebeb;
}

.remove {
  border: 1px solid var(--pc);
  color: var(--pc);
}

.remove:hover {
  background: var(--pc);
  color: #fff;
}

@media (max-width: 540px) {
  .navbar-brand {
      width: 35%;
      margin-right: 0 !important;
  }

  .mobile-layout {
      gap: 25px !important;
  }

  .mobile-layout .nav-link {
      padding: 5px 10px;
  }

  .menu-container {
      gap: 20px;
  }
}

@media (max-width: 360px) {
  .navbar-brand {
      width: 35%;
      margin-right: 0 !important;
  }

  .mobile-layout .btn {
      padding: 0 !important;
  }

  .mobile-layout .nav-link {
      padding: 3px 5px;
  }

  .mobile-layout .gradient-theme .dropdown-toggle::after {
      display: none !important;
  }

  .mobile-layout .gradient-theme svg {
      width: 15px;
      height: 15px;
  }

  .dropdown-item {
      white-space: unset !important;
  }

  .store-item .list-store p {
      font-size: 13px;
  }
}

/* # Home Page
=================================================*/

/*+++++++++++ hero section +++++++++++++*/

.hoho-hero {
  background: #ddedf94a url(../images/hero-bg.svg) no-repeat bottom;
  background-size: cover;
  height: 400px;
}

.hoho-hero [class*="heading"] {
  color: #000;
}

.hoho-hero :is(.sub-heading, .main-heading span) {
  font-family: var(--sub-font);
}

.hoho-hero .main-heading {
  font-size: clamp(1.5625rem, 0.6696rem + 2.381vw, 2.8125rem);
  font-weight: 600;
  width: 85%;
}

.hoho-hero .main-heading span::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -18px;
  width: 250px;
  height: 22px;
  background: url("data:image/svg+xml,%3Csvg width='250' height='22.659' viewBox='0 0 250 22.659' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M172.816 0.435c-5.943 0.318 -18.697 0.674 -25.535 1.249S27.801 3.439 20.77 3.95C6.262 4.973 0.448 6.251 0.128 8.551c-0.32 2.174 2.137 2.716 11.567 0.959 11.311 -2.109 133.243 -5.241 154.845 -6.518 12.717 -0.702 37.909 -0.383 40.786 -0.255 1.086 0.064 6.711 0.191 12.59 0.255 5.816 0.128 19.503 -0.448 19.887 -0.255 0.384 0.255 -11.515 3.578 -15.925 6.391 -8.243 5.02 -15.21 10.324 -15.21 11.859 0 1.916 1.15 1.598 5.049 -1.534 7.028 -5.497 19.236 -11.859 24.285 -13.136 1.407 -0.383 4.665 -1.022 7.222 -1.407 2.492 -0.448 4.601 -0.959 4.601 -1.278 0 -0.257 -0.511 -1.15 -1.15 -1.917l-1.086 -1.408 -31.955 -0.191c-17.575 -0.128 -36.811 0.064 -42.818 0.318' fill='%23E20001'/%3E%3C/svg%3E")
      no-repeat;
}

.hoho-hero .hero-form {
  gap: 30px;
  padding: 10px 20px 10px 30px;
  width: 80%;
}

.hoho-hero .form-label {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0;
}

.hoho-hero :is(.location, .date) {
  width: 100%;
}

.hoho-hero .location {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.hoho-hero .form-control:focus {
  border: none !important;
}

.hoho-hero .form-control::placeholder {
  font-size: 15px;
}

.hoho-hero .form-search-btn {
  width: 15%;
  aspect-ratio: 1/1;
  background: var(--pc);
}

.flatpickr-day.selected:hover,
.flatpickr-day.selected {
  background: var(--pc);
  border: 1px solid var(--pc);
}

.hoho-con-handpicked {
  padding: 40px;
  border-radius: 20px;
}

.hoho-con-handpicked .hoho-overlay-card .hoho-card-content {
  bottom: -95px;
}

.hoho-con-handpicked .hoho-overlay-card:hover .hoho-card-content {
  bottom: 0px;
}

.hoho-con-handpicked .hoho-overlay-card :is(.img-placeholder, .img-placeholder a img) {
  height: 350px;
}

.hoho-con-handpicked :is(.swiper-button-prev, .swiper-button-next) {
  top: 15px !important;
}

.hoho-con-handpicked :is(.swiper-button-next, .swiper-button-prev) {
  top: 55px !important;
  border: 1px solid #ccc;
  height: 35px;
  width: 55px;
}

.hoho-con-handpicked .swiper-button-prev {
  left: calc(100% - 135px);
  border-radius: 25px 0 0 25px;
}

.hoho-con-handpicked .swiper-button-next {
  right: 25px !important;
  border-radius: 0 25px 25px 0;
}

.swiper-pagination-bullet-active {
  background: var(--pc);
}

/*++++++++++++++++++ testimonial ++++++++++++++++*/
.testi-box img {
  width: 60px;
  height: 60px;
}

.testi-box hr {
  border: 1px solid #b3b3b34d;
  margin-block: 10px;
}

.cities-box .img-box,
.testimonials .swiper-slide {
  transition: all 200ms linear;
  transform: scale(0.9);
}

.cities-box:hover .img-box,
.testimonials .swiper-slide.swiper-slide-active {
  transform: scale(1);
}

.cities-box .img-box {
  width: 120px;
  height: 120px;
  background: #f0f8fe;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.city-name:hover {
  color: var(--pc) !important;
}

.cities-box {
  border: 1px solid #fff;
  border-radius: 12px;
}

.cities-box:hover {
  border: 1px solid var(--sc);
}

.cities-box .badage {
  top: 10px !important;
}

@media (max-width: 768px) {
  .hoho-con-popular-tour :is(.swiper-slide:has(+ .swiper-slide.swiper-slide-active), .swiper-slide.swiper-slide-active + .swiper-slide) {
      opacity: 0.3;
  }

  .hoho-hero {
      height: 280px;
  }

  .hoho-con-handpicked :is(.swiper-button-next, .swiper-button-prev) {
      top: 53px !important;
  }
}

@media (max-width: 600px) {
  .hoho-hero .main-heading {
      width: 100%;
  }

  .hoho-hero .main-heading span::after {
      background-color: var(--pc);
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
  }

  .cart a span {
      top: 0px;
      right: -15px;
      width: 20px;
      height: 20px;
      font-size: 12px;
  }

  .hoho-con-handpicked {
      padding: 24px;
  }

  .hoho-hero .hero-form {
      width: 100%;
  }

  .hoho-hero .form-search-btn {
      width: 32%;
  }

  .hoho-con-handpicked :is(.swiper-button-next, .swiper-button-prev) {
      top: 90px !important;
  }

  .month :is(.swiper-button-next, .swiper-button-prev) {
      top: 50px !important;
      width: 35px;
  }

  .month .swiper-button-prev {
      left: calc(100% - 95px);
  }

  .offcanvas {
      width: 360px;
  }
}

@media (max-width: 400px) {
  .month :is(.swiper-button-next, .swiper-button-prev) {
      top: 90px !important;
  }

  .hoho-con-handpicked :is(.swiper-button-next, .swiper-button-prev) {
      top: 130px !important;
  }

  .popular-tour-slider .swiper-button-prev {
      left: 0;
  }

  .popular-tour-slider .swiper-button-next {
      right: 0;
  }
}

/* # Country Page
=================================================*/

.faq .accordion-button:focus {
  border-color: var(--pc) !important;
}

.faq .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.pacakage-price span {
  font-size: 14px;
}

.faq .accordion-button:not(.collapsed) {
  color: var(--pc) !important;
  background: #fff !important;
}

.faq .accordion-item:not(:first-of-type) {
  border-top: 1px solid rgb(218 15 16 / 12%) !important;
  margin-top: 15px;
}

.faq .accordion-item {
  border: 1px solid rgb(218 15 16 / 12%) !important;
}

.faq .accordion-button::before {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='-1.162 -1.162 6.076 6.076' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23000' stroke-width='0'%3E%3Cpath fill='%23da0f100f' d='M1.876-1.162a3.04 3.04 0 0 1 3.036 3.038 3.04 3.04 0 0 1-3.036 3.036 3.04 3.04 0 0 1-3.038-3.036 3.04 3.04 0 0 1 3.038-3.038' stroke='none'/%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke='%23CCC' stroke-width='.048'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.718 2.87c.052.068.076.29-.278.25a1.6 1.6 0 0 1-.424-.098 2 2 0 0 1-.304-.156 1.4 1.4 0 0 1-.444.1 1.18 1.18 0 0 1-.94.472 1.2 1.2 0 0 1-.362-.058 1.6 1.6 0 0 1-.658.21 1 1 0 0 1-.16-.002.16.16 0 0 1-.136-.098.16.16 0 0 1 .02-.152 2 2 0 0 0 .11-.168 1 1 0 0 0 .15-.362A1.173 1.173 0 0 1 .83 1.204a1.406 1.406 0 1 1 2.632.958c-.03.27.106.496.26.708ZM1.094 1.562a1.094 1.094 0 1 1 2.074.486l-.014.048a1.07 1.07 0 0 0 .142.686 1.4 1.4 0 0 1-.474-.22.16.16 0 0 0-.16-.014 1.093 1.093 0 0 1-1.568-.986m-.312.04a1.4 1.4 0 0 0 1.088 1.33.86.86 0 0 1-.542.194.8.8 0 0 1-.322-.062.16.16 0 0 0-.144.014 2 2 0 0 1-.242.124l-.166.052a1.2 1.2 0 0 0 .128-.314l.022-.152a.2.2 0 0 0-.02-.088.86.86 0 0 1-.116-.434c0-.268.122-.507.314-.665' fill='%23da0f10' stroke='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
  margin-right: 10px;
}

.tour-packages .hoho-card {
  padding: 30px;
  box-shadow: 0 10px 35px 0 #0510361a;
  gap: 25px;
}

.tour-packages .hoho-card :is(.img-placeholder, .img-placeholder a img) {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  position: relative;
  overflow: hidden;
}

.hoho-card .rating {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  color: #fff;
  font-size: 18px;
  padding: 20px 45px 3px;
  background: var(--pc);
  transform: rotate(-45deg) translate(-30px, -40px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}

.package-details svg {
  fill: #000;
}

.grid-r-10 {
  align-items: unset;
  grid-template-columns: auto 15%;
}

.tour-packages .hoho-card svg {
  fill: none !important;
}

@media (max-width: 768px) {
  .tour-packages .hoho-card {
      padding: 20px;
  }

  .tour-packages .hoho-meta {
      flex-direction: column-reverse;
      align-items: unset;
      gap: 20px;
  }

  .tour-packages .grid-r-10 {
      grid-template-columns: auto 18%;
      gap: 10px;
  }
}

@media (max-width: 768px) {
  .hoho-big-title {
      font-size: 18px;
  }
}

/* # Tour Single Page
=================================================*/

.tour-feature-img {
  height: 80%;
  width: 100%;
}

.tours-img {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.tours-img .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.tours-img .swiper-slide-thumb-active {
  opacity: 1;
}

.tour-feature-img .swiper-slide {
  width: 100%;
  height: 400px;
}

.tours-img .swiper-slide {
  width: 100%;
  height: 100px;
}

:is(.tours-img, .tour-feature-img) .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* form check availabilty */

.check-availabilty-form {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #d9d9d9;
}

.discountedPricing {
  font-size: 0.75rem;
  margin: 0 0 0.5rem 0;
}

.originalPrice {
  text-decoration: line-through;
}

.discountedPrice {
  color: #c81e3a;
}

.lowest-price-guarantee {
  border: 0;
  cursor: pointer;
  padding: 0;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0);
}

.check-availabilty-form .form-control:focus {
  border: 1px solid #d9d9d9;
}

.check-availabilty-form .form-control:active {
  background: #fff;
}

/* tour tab */
.tour-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0px;
  white-space: nowrap;
  gap: 20px;
}

.tour-tab.position-sticky {
  z-index: 100;
  top: 85px;
  overflow-x: scroll;
}

.tour-tab .tab-btn {
  color: #000;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

.tour-tab .tab-btn:hover {
  color: var(--pc);
}

.tab-btn.active {
  color: var(--pc);
  border-bottom: 2px solid var(--pc);
}

.tour-content > .tour-content-item {
  margin: 40px 0;
}

.tour-content .tour-item-heading {
  font-weight: 600;
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem);
  margin-bottom: 20px;
}

.tour-content .bg-theme-sc {
  padding: 40px;
  border-radius: 4px;
}

.tick-list li {
  position: relative;
  padding: 0 0 0 25px;
  list-style-type: none;
}

.tick-list li:not(:last-child) {
  margin-bottom: 10px;
}

.tick-list li::before,
.tick-list.excluded li::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
}

.tick-list li::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 15 14'%3E%3Cpath fill='%2338BE64' d='M6.619 14 0 8.98l1.564-2.06 4.427 3.358L12.847 0 15 1.435z'/%3E%3C/svg%3E");
  width: 16px;
  height: 14px;
}

.tick-list.excluded li::before {
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath d='M2 12 12 2m0 10L2 2' stroke='%23E03E2D' stroke-width='3' fill='none'/%3E%3C/svg%3E");
}

/* Redemption-Info */
#Redemption-Info .grid-2 img:nth-child(1) {
  display: grid;
  grid-column: 1 / span 2;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.usefulbox {
  background: var(--pc);
  border-radius: 5px;
  padding: 30px;
}

/* Know-Before-You-Go */
#Incl-Excl ul {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}

#Incl-Excl ul > div {
  color: #000;
  font-weight: 500;
  border-bottom: 2px solid;
  width: fit-content;
}

#Incl-Excl ul.included > div {
  border-color: rgba(112, 173, 70, 1);
}

#Incl-Excl ul.excluded > div {
  border-color: rgba(211, 44, 74, 1);
}

.tour-content .box {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 1);
  height: 100%;
}

.tour-content .icon {
  background: rgba(238, 238, 238, 1);
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .itineraryStop {
      padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .usefulbox {
      padding: 20px 15px;
      gap: 20px;
      flex-direction: column;
  }
}

/* dots start */
.timeline-content .content {
  position: relative;
}

.timeline-content .content::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #46b2bc;
  position: absolute;
  border-radius: 50%;
  left: 30px;
  bottom: -43px;
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 6px 0px #c1c1c1;
}

/* dots end */

@media screen and (max-width: 1200px) {
  .main-timeline .timeline:nth-child(even):after {
      border-radius: 0 88px 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .main-timeline .timeline {
      margin-top: -19px;
  }

  .main-timeline .timeline:before {
      border-radius: 50px 0 0 50px;
      border-width: 10px;
  }

  .main-timeline .timeline:nth-child(even):before {
      border-radius: 0 50px 50px 0;
      border-width: 10px;
  }

  .main-timeline .timeline:nth-child(even):after {
      height: calc(100% - 18px);
      width: calc(50% - 9px);
      border-radius: 0 43px 43px 0;
      border-width: 10px;
      top: 9px;
      right: 9px;
  }

  .main-timeline .timeline-icon {
      font-size: 60px;
  }

  .main-timeline .timeline-year {
      font-size: 40px;
  }
}

@media screen and (max-width: 479px) {
  .main-timeline .timeline-icon {
      font-size: 50px;
      transform: translateY(0);
      top: 25%;
      left: 10%;
  }

  .main-timeline .timeline-year {
      font-size: 25px;
      transform: translateY(0);
      top: 65%;
      left: 9%;
  }

  .main-timeline .content {
      width: 68%;
      padding: 10px;
  }

  .main-timeline .title {
      font-size: 18px;
  }

  .main-timeline .timeline:nth-child(even) .timeline-icon {
      right: 10%;
  }

  .main-timeline .timeline:nth-child(even) .timeline-year {
      right: 9%;
  }
}

/* Itinerary */
#Itinerary .itinerary-list {
  border-left: 1px dotted var(--pc);
  height: 256px;
  overflow-y: clip;
}

#Itinerary .itinerary-list.expanded {
  height: 100%;
}

#Itinerary :is(.step, .tour-content-body) {
  padding-left: 30px !important;
  position: relative;
}

#Itinerary .step::before {
  content: "";
  flex-shrink: 0;
  position: absolute;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}

#Itinerary .step:nth-child(1):before {
  background-image: url("../images/location.svg");
  width: 30px;
  height: 30px;
  left: -16px;
  top: 0;
}

#Itinerary .step::before {
  top: 5px;
  left: -8px;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5' fill='%23DA0F10'/%3E%3C/svg%3E");
}

#Itinerary .step {
  margin-bottom: 25px;
}

#Itinerary .step-name {
  font-weight: 600;
  margin-bottom: 10px;
}

/* # About Page Start
=================================================*/

.overlay-part {
  padding-block: 50px;
  background-color: #da0f1014;
}

.image-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.ft-card-content {
  padding: 20px;
  background-color: #ffffff;
  margin-inline: 40px;
  margin-top: -70px;
  text-align: center;
  border: 1px solid #dbdbdb;
}

.floating-card:hover .ft-card-content {
  transform: translateY(-10px);
}

@media (max-width: 600px) {
  .ft-card-content {
      margin-inline: 0px;
      margin-top: 0px;
  }
}

/* # Faq Page
=================================================*/
.faq-form {
  width: 40px;
  height: 40px;
}

.faq-page .nav-pills .nav-link {
  padding: 26px 0px;
  color: #000;
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: clamp(1.25rem, 0.1786rem + 2.8571vw, 2.75rem) 10px;
}

.faq-page .nav-pills .nav-link.active {
  background-color: transparent;
  border: 1px solid var(--pc);
}

@media (max-width: 768px) {
  .faq-form {
      width: 75% !important;
  }
}

@media (max-width: 600px) {
  .faq-form {
      width: 100% !important;
  }
}

/*# FAQ STYLE || COUNTY.HTML
=================================================*/
.faq-style summary {
  font-weight: 400;
  align-items: center;
}

.faq-style summary::before {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='-1.162 -1.162 6.076 6.076' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23000' stroke-width='0'%3E%3Cpath fill='%23da0f100f' d='M1.876-1.162a3.04 3.04 0 0 1 3.036 3.038 3.04 3.04 0 0 1-3.036 3.036 3.04 3.04 0 0 1-3.038-3.036 3.04 3.04 0 0 1 3.038-3.038' stroke='none'/%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke='%23CCC' stroke-width='.048'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.718 2.87c.052.068.076.29-.278.25a1.6 1.6 0 0 1-.424-.098 2 2 0 0 1-.304-.156 1.4 1.4 0 0 1-.444.1 1.18 1.18 0 0 1-.94.472 1.2 1.2 0 0 1-.362-.058 1.6 1.6 0 0 1-.658.21 1 1 0 0 1-.16-.002.16.16 0 0 1-.136-.098.16.16 0 0 1 .02-.152 2 2 0 0 0 .11-.168 1 1 0 0 0 .15-.362A1.173 1.173 0 0 1 .83 1.204a1.406 1.406 0 1 1 2.632.958c-.03.27.106.496.26.708ZM1.094 1.562a1.094 1.094 0 1 1 2.074.486l-.014.048a1.07 1.07 0 0 0 .142.686 1.4 1.4 0 0 1-.474-.22.16.16 0 0 0-.16-.014 1.093 1.093 0 0 1-1.568-.986m-.312.04a1.4 1.4 0 0 0 1.088 1.33.86.86 0 0 1-.542.194.8.8 0 0 1-.322-.062.16.16 0 0 0-.144.014 2 2 0 0 1-.242.124l-.166.052a1.2 1.2 0 0 0 .128-.314l.022-.152a.2.2 0 0 0-.02-.088.86.86 0 0 1-.116-.434c0-.268.122-.507.314-.665' fill='%23da0f10' stroke='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
  margin-right: 10px;
}

.faq-style details[open] summary {
  color: var(--pc);
}

/*# REGISTER || lOGIN || FORGOT PASSWORD FORM
=================================================*/
.crud-form {
  background: #fff;
  padding: 40px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .crud-form {
      padding: 25px;
  }
}

.crud-form .text-direction {
  font-weight: 600;
  margin: 0 auto;
  color: #000;
  width: fit-content;
  border-bottom: 1px solid #000;
}

.crud-form .text-direction:hover {
  color: var(--pc);
  border-bottom: 1px solid var(--pc);
}

.crud-form .input-group-text {
  background: transparent;
  border: none !important;
  padding: 0 !important;
}

.crud-form .input-group-text svg {
  fill: var(--pc);
}

.crud-form .form-control {
  border: none !important;
  border-radius: unset;
  border-bottom: 1px solid #ced4da !important;
  padding-left: 0 !important;
}

.crud-form .form-control:focus,
.crud-form .form-control:active {
  border-bottom: 1px solid var(--pc) !important;
}

/* # Comfirnation Page
=================================================*/
.comfirnation-details .comfirm-content {
  padding-left: 40px;
  border-left: 1px solid #e5e8ebe3;
}

.comfirnation-details .comfirm-content {
  margin-left: 20px;
  padding-left: 37px;
  border-left: 1px solid #e5e8ebe3;
}

/* # Footer
=================================================*/

footer {
  border-top: 8px solid #ffe6e6;
  background: #fff;
  padding-block: 40px;
}

footer .list-unstyled li {
  margin-bottom: 10px;
}

footer .list-unstyled li a {
  color: #212529;
  font-size: 15px;
}

footer .list-unstyled a:hover {
  color: var(--pc);
}

.footer-form {
  border: 2px solid var(--pc);
  padding: 15px;
}

.footer-form form {
  background: #ececec;
  border-radius: 5px;
  width: 50%;
}

.footer-form :is(form input, .form-control):focus,
.footer-form :is(form input, .form-control) {
  background: transparent;
}

.copywrite {
  background: #ececec;
}

@media (max-width: 768px) {
  .footer-form form {
      width: 100%;
  }
}

/* # Scroll top button
  =================================================*/
#scroll_to_top {
  background: var(--pc);
  position: fixed;
  bottom: 48px;
  height: 45px;
  width: 45px;
  right: 21px;
  z-index: 12;
  border-radius: 50%;
  border: unset;
  cursor: pointer;
}

/* contact us page start */
.contact-info {
  background-color: #fff;
  padding: 60px 30px 30px 30px;
  position: relative;
}

.contact-info .info-item a {
  color: #000;
}
.contact-info .info-item a:hover {
  color: var(--pc);
}

.contact-info svg {
  width: 30px;
  height: 30px;
}

.info-item {
  display: flex;
  gap: 16px;
}

.contact-form :is(input, select, textarea) {
  width: 100%;
  padding: 10px 10px 15px 0px;
  border: unset;
  border-bottom: 1px solid #d1d1d19e;
  background: transparent;
}

.contact-form :is(input:focus-visible, select:focus-visible, textarea:focus-visible) {
  outline: none;
  border: unset;
  border-bottom: 1px solid var(--pc);
}

.contact-form :is(select) {
  color: rgb(63, 63, 63);
}

.contact-icon {
  padding: 17px;
  background: #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  position: absolute;
  top: -40px;
}

.contact-form ::placeholder {
  color: rgb(63, 63, 63);
  font-size: 16px !important;
}

.contact-form {
  padding: 35px;
}

.contact-form label {
  background: #ff000021;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
}

/* contact us page end*/

/* check out page start */
.checkout-form :is(input, textarea, select) {
  width: 100%;
}

.checkout-form label {
  font-size: 15px;
  font-weight: 500;
  display: block;
}

.checkout-form hr {
  color: rgb(158, 158, 158);
}

.line-seperator {
  width: 100%;
  height: 1px;
  background-color: #ff000061;
  margin-block: 10px 20px;
  position: relative;
}

.line-seperator::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: red;
  position: absolute;
  left: 0;
  top: -4px;
}

.terms-cond {
  font-size: 14px;
}

.tour-img {
  width: 200px;
  border-radius: 4px;
  overflow: hidden;
}

.iconList__be_B {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.iconList__be_B li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.text-10,
.iconList__be_B li {
  font-size: 15px;
}

.btn-group .btn {
  width: 100%;
}

@media (max-width: 600px) {
  .tour-img img {
      height: 100%;
      object-fit: cover;
  }
}

/* check out page end */

/* route section start */
.route-sec {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
  height: 230px;
  overflow: hidden;
}

.route-sec .route-map .circle-sep::before {
  content: "";
  width: 218px;
  height: 2px;
  border-top: 2px dashed gray;
  display: block;
  margin-top: 3px;
  margin-left: 12px;
}

.route-sec .route-map:nth-child(even) {
  flex-direction: row-reverse;
}

.route-sec .route-map:nth-child(even)::before {
  content: "";
  border-right: 2px dashed gray;
  border-bottom: 2px dashed gray;
  border-top: 2px dashed gray;
  position: absolute;
  height: 250px;
  right: -48px;
  top: -180px;
  width: 141px;
  border-radius: 0px 10px 10px 0px;
}

.route-sec .route-map:nth-child(odd) .route-stops:last-of-type .circle-sep::before {
  display: none;
}
.route-sec .route-map:nth-child(even) .route-stops:first-of-type .circle-sep::before {
  display: none;
}

.route-sec .route-map:nth-child(odd)::before {
  content: "";
  border-left: 2px dashed gray;
  border-bottom: 2px dashed gray;
  border-top: 2px dashed gray;
  position: absolute;
  height: 250px;
  left: -48px;
  top: -180px;
  width: 141px;
  border-radius: 10px 0 0 10px;
}

.route-sec .route-map:nth-child(odd):nth-child(1):before {
  display: none;
}

.route-map {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  position: relative;
}
.route-tour-content {
  padding: 30px;
  background-color: #fbeaed;
  border-radius: 8px;
  --route-color: #d32c4a;
}

.route-tour-content svg path {
  fill: var(--route-color);
}

.route-stops {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 200px;
}
.stops {
  padding: 6px 22px;
  background: var(--route-color);
  border-radius: 4px;
  color: #fff;
  position: relative;
}

.stops::before {
  content: "";
  border-top: 12px solid var(--route-color);
  border-left: 10px solid transparent;
  border-right: 10px solid #ff000000;
  position: absolute;
  bottom: -17px;
  transform: translate(-50%, -50%);
  left: 50%;
}

.circle-sep {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid var(--route-color);
  position: relative;
}

.route-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid var(--route-color);
  position: relative;
}

.route-details::before {
  content: "";
  border-bottom: 10px solid var(--route-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 44.5%;
}
.route-details::after {
  content: "";
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -9px;
  left: 45.2%;
}

.route-sec .route-map:nth-child(odd) .route-stops:last-of-type .circle-sep::before {
  width: 144px;
}
.route-sec .route-map:nth-child(even) .route-stops:first-of-type .circle-sep::before {
  width: 144px;
}

.route-sec.expanded {
  height: 100%;
  overflow: visible;
}

#blueroute {
  background-color: #e9edf6;
  --route-color: #051036;
}

#greenroute {
  background-color: #eff5e7;
  --route-color: #55ae36;
}

@media (max-width: 600px) {
  .route-map {
      justify-content: center;
  }

  .check-availabilty-form {
      padding: 0px;
      box-shadow: unset;
      border: unset;
  }

  .column-reverse {
      flex-direction: column-reverse;
  }

  .route-sec .route-map .circle-sep::before,
  .route-sec .route-map:nth-child(even)::before,
  .route-sec .route-map:nth-child(odd)::before {
      display: none;
  }
  .route-sec {
      height: 479px;
  }
}
@media (max-width: 768px) {
  .route-map {
      justify-content: center;
  }

  .route-sec {
      height: 479px;
  }

  .route-sec .route-map .route-stops:nth-child(even) .circle-sep::before,
  .route-sec .route-map:nth-child(even)::before,
  .route-sec .route-map .circle-sep::before,
  .route-sec .route-map:nth-child(odd)::before {
      display: none;
  }

  .contact-info {
      margin-block: 30px;
  }

  .column-md-reverse {
      flex-direction: column-reverse;
  }
}
/* route section end*/

/* single page slider start */
.container-slider .gallery-slider {
  display: none;
}

.container-slider .gallery-slider img {
  height: 360px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.container-slider .cursor {
  cursor: pointer;
}

.container-slider .column {
  width: 20%;
}
.container-inner-column .column img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.container-inner-column .demo {
  opacity: 0.6;
}

.container-inner-column .active,
.container-inner-column.demo:hover {
  opacity: 1;
}

.container-slider {
  position: relative;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.container-slider .swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
@media (max-width: 600px) {
  .container-slider .gallery-slider img {
      height: 252px;
  }

  .container-slider .swiper-button-next,
  .container-slider .swiper-button-prev {
      padding: 6px;
      width: 30px;
      height: 30px;
  }

  .container-inner-column .column img {
      height: 70px;
  }
  .contact-info {
      padding-inline: 16px;
      padding-bottom: 16px;
  }

  .contact-form {
      padding: 16px;
  }
}
/* single page slider end */
